
body {
  margin: 0px;
  padding: 3em;
  font-size: 18px;

}

@media (max-width: 550px) {
    body {
      padding: 1em;

    }
}

@media (max-width: 400px) {
  body {
    padding: .2em;

  }
}

.App {
  text-align: center;
}

.question-wrap {
  max-width: 15em;
  margin: 0 auto;
  overflow: hidden;
}

.question-wrap-affectiveSlider {
  max-width: 30em;
}

.question-label {
  float: left;
  padding-bottom: .5em;
}

.question-answer {
  float: left;
  clear: both;
}

.question-screen {
  width: 100%;
  height: 100%;
}

select, input {
  font-size: .8em;
}
